body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.drop-menu {
    text-align: right;
}

.drop-menu ul {
    display: inline-flex;
    list-style: none;
}

.drop-menu ul li {
    width: 100px;
    margin-right: 50px;
    box-sizing: border-box;
}

.drop-menu a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.container1 {
    display: flex;
    margin-bottom: 30px;
}

.container1 h1 {
    font-size: 45px;
    line-height: 30px;
}

.container1 p {
    font-size: 20px;
    margin-bottom: 30px;
}

.container1-1 {
    width: 50%;
    padding-left: 10%;
    padding-top: 2%;
}

.container1-2 {
    width: 50%;
    height: 400px;
    padding-left: 20%;
}

.modify-span {
    color: #4834d4;
}

.modify-p {
    color: #7f8c8d;
}

#image-style {
    height: 85%;
    width: 60%;
    padding-top: 2%;
}

.button {
    text-decoration: none;
    text-align: center;
    color: white;
    background-image: linear-gradient(#30336b, #686de0);
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 15px;
}

.container2 {
    display: flex;
    background: url(images/shapes/Frame\ 56.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 40px;
}

.container2 h1 {
    margin-top: 50px;
    font-size: 55px;
    color: #130f40;
}

.container2 p {
    font-size: 20px;
    margin-bottom: 60px;
    line-height: 30px;
}
.container2-1 {
    width: 50%;
}

.container2-2 {
    width: 50%;
}

#recipies {
    text-align: center;
    padding: 0 20%;
}

#recipies h1 {
    color: #130f40;
    font-size: 50px;
}

#recipies p {
    font-size: 20px;
    line-height: 30px;
}

.card-container {
    display: flex;
    
}

.card {
    width: 380px;
    border: 2px solid white;
    padding: 15px;
    box-shadow: 0 0 4px 4px #535c68;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 50px;
}

.card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.card h1 {
    font-size: 40px;
}

.card p {
    font-size: 20px;
    line-height: 30px;
}

.lower-part {
    display: flex;
    margin: 2% 10%;
    width: 0 auto;
    box-shadow: 0 0 4px 4px #535c68;
    box-sizing: border-box;
    border-radius: 20px;
}

.lower-part-div {
    margin: 2% 10%;
}

.lower-part-div h4 {
    color: #7f8c8d;
}

footer {
    background: rgb(250, 234, 207);
    text-align: center;
    padding: 2% 0;
}

footer span {
    color: #1c1c7e;
}

footer h2 {
    font-size: 50px;
    color: #535c68;
}

footer p {
    font-size: 20px;
    color: #30336b;
}